*.[oa]
*~
gpu_DSM
*.dat
tau.dat
tau1.dat
gpu_dsm
*.project
*.cproject
*.nb
/CLI/gpu_DSM.exe
/CLI/gpu_DSM.lib
/CLI/gpu_DSM.exp

/gpu_dsm.sln
/gpu_dsm.vcxproj.filters
/gpu_dsm.vcxproj
/gpu_dsm.VC.VC.opendb
/gpu_dsm.VC.db

*ipynb_checkpoints/
*.sage-jupyter
